{
	"parser": "babel-eslint",
	"plugins": ["react", "prettier"],
	"rules": {
		"prettier/prettier": "error",
		"no-console": 0
	},
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"prettier",
		"prettier/react"
	]
}
