@import "../../../index";

$default-navbar-transparency: 0.8;
$left-right-padding: 15px;
$top-bottom-padding: 10px;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	width: 100%;
	position: fixed;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 0 0 10px $primary-bg-color;
	margin: 0;

	// Remove bullets, margins, and padding
	ul {
		display: flex;
		list-style-type: none;
		padding: 0 40px;
		margin: 0;
	}

	li {
		padding: $top-bottom-padding $left-right-padding;
		cursor: pointer;
		color: $secondary-color;

		&:hover {
			color: $primary-bg-color;
			background-color: $secondary-color;
			text-shadow: none;
		}
	}

	.logo-text {
		margin-left: 40px;
		display: block;
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		font-size: 1.5rem;
		color: $secondary-color;
		font-variant: small-caps;
		min-width: 200px;
		z-index: 5;
	}
}

.navbar-fade-out {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background-color: rgba($primary-bg-color, 0) !important;
}

.navbar-fade-in {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	background-color: rgba(
		$primary-bg-color,
		$default-navbar-transparency
	) !important;
	padding: 5px 0;
}

@media screen and (max-width: $break-small) {
	.navbar {
		li {
			visibility: hidden;
		}
	}
}
