@import "../../../index";

/* Position and sizing of burger button */
.bm-burger-button {
	visibility: hidden;
	position: fixed;
	width: 30px;
	height: 30px;
	right: 20px;
	top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: $secondary-color;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: $secondary-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: $secondary-color;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: $primary-bg-color;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	text-align: center;
	font-weight: bold;
	color: $secondary-color;
	display: inline-block;
	padding: 10px 0;
	cursor: pointer;
}

.bm-item:hover {
	color: $primary-bg-color;
	background-color: $secondary-color;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: $break-small) {
	.bm-burger-button {
		visibility: visible;
	}
}
