@import "../../index";

$ease-time: 250ms;

figure.project-preview {
	position: relative;
	width: 50%;
	padding: 10px;
	margin: 10px 0;
	background-color: $primary-bg-color;

	figcaption {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: opacity $ease-time ease-in-out,
			visibility 0ms ease-in-out $ease-time;
		-moz-transition: opacity $ease-time ease-in-out,
			visibility 0ms ease-in-out $ease-time;
		-webkit-transition: opacity $ease-time ease-in-out,
			visibility 0ms ease-in-out $ease-time;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	img {
		width: 100%;
		opacity: 1;
		transition: all $ease-time ease-in-out;
		-moz-transition: all $ease-time ease-in-out;
		-webkit-transition: all $ease-time ease-in-out;
	}

	&:hover {
		background-color: $primary-bg-color;

		img {
			opacity: 0;
			transform: scale(1.15);
		}

		figcaption {
			opacity: 1;
			visibility: visible;
		}
	}

	// Span full width of parent container on mobile
	@media (max-width: $break-medium) {
		width: 100%;
	}

	button {
		cursor: pointer;
		font-family: $font-stack;
		font-weight: bold;
		border: 2px solid $secondary-color;
		background-color: $secondary-color;
		color: $primary-bg-color;
		border-radius: 40px;
		padding: 10px;
		margin: 0 5px;
	}
}
