@import "../../../index";

$height: 100vh;

%title-text-shared {
	text-shadow: 0 0 10px $primary-bg-color;
	font-weight: bold;
}

.hero {
	width: 100%;
	height: calc(#{$height} - 50px);
	--yPos: 0;

	img {
		width: 100%;
		height: $height;
		object-fit: cover;
		object-position: top;
	}

	.title-text-container {
		width: 30%;
		transform: translate(205%, 250px);
	}

	.title-text {
		@extend %title-text-shared;
		color: white;
		font-size: 1.5rem;
		font-family: $header-font;
	}

	.rotating-text {
		@extend %title-text-shared;
		font-size: 3.5rem;
		font-family: $header-font;
		color: $secondary-color !important;
	}

	.hero-item {
		position: absolute;
		will-change: transform;

		&:nth-child(1) {
			width: 100%;
			transform: translateY(calc(var(--yPos) * -0.25));
			z-index: 1;
		}

		&:nth-child(2) {
			z-index: 2;
		}

		&:nth-child(3) {
			width: 100%;
			transform: translateY(calc(var(--yPos) * -0.7));
			z-index: 3;
		}
	}

	.parallax {
		position: fixed;
	}
}

.react-rotating-text-cursor {
	color: white;
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
		infinite;
}

@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: $break-small) {
	$height: 500px;

	.hero {
		height: $height;

		img {
			height: $height;
		}

		.title-text-container {
			visibility: hidden;
		}
	}
}

.fade-out {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	opacity: 0;
	visibility: hidden;
}

.show {
	opacity: 1;
	visibility: visible;
}
