@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Roboto+Slab");
@import "assets/scss/shared";
@import "assets/scss/scrollDownIndicator";

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	font-family: $font-stack;
	color: $primary-color;
}

%h-shared {
	font-family: $header-font2;
	font-weight: bold;
	color: $secondary-color;
	margin: 0;
}

h1 {
	@extend %h-shared;
	font-size: 2rem;
}

h4 {
	@extend %h-shared;
	font-size: 1.15rem;
}

// Common styling for front end and back end lists
%list {
	background-color: $prussian-blue;
	border-radius: 12px;
	padding: 20px;
	margin: 20px;
	width: 33%;
	max-width: 400px;
	min-width: 250px;
	color: $primary-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media (max-width: $break-small) {
		width: 100%;
	}

	ul {
		//font-family: $header-font2;
		color: $secondary-color;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			font-weight: bold;
		}
	}

	i {
		color: $secondary-color;
	}
}

// Class to disable highlighting/selecting of element
.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

button {
	cursor: pointer;
	font-family: $font-stack;
	font-weight: bold;
	border: 2px solid $secondary-color;
	background-color: $secondary-color;
	color: $prussian-blue;
	border-radius: 40px;
	padding: 10px;
	margin: 0 5px;

	&:active {
		background-color: $prussian-blue;
		color: $secondary-color;
	}
}
