@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");

$font-stack: "Montserrat", sans-serif;
$header-font: "Raleway", sans-serif;
$break-small: 800px;
$primary-color: #f9d342;
$background-color: #292826;

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	font-family: $font-stack;
	color: $primary-color;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
